<div class="panel panel-primary">
  <div class="panel-heading">
    <strong class="panel-title"><%= event.title %></strong>
    <% if event.all_day %>
      <span class="small">on <%= event.start_datetime.to_date.to_formatted_s :long %></span>
      <span class="badge pull-right">All Day</span>
    <% else %>
      <span class="small">from <%= event.start_datetime.to_formatted_s :long %> to <%= event.end_datetime.to_formatted_s :long %></span>
    <% end %>
  </div>
  <div class="panel-body">
    <%= event.description %>
  </div>
  <div class="panel-footer">
    <%= link_to "Back", root_path, class: "btn btn-default" %>
    <% if current_user?(event.user) %>
      <div class="pull-right">
        <%= link_to "Edit", edit_event_path(event), class: "btn btn-default" %>
        <%= link_to "delete", event, method: :delete, class: "btn btn-danger"%>
      </div>
    <% end %>
  </dvi>
</div>

